/*

Template Name: Tasfiu Corporate HTML Template.
Template URI: #
Description: Tasfiu is a unique website template designed in HTML with a simple & beautiful look. There is an excellent solution for creating clean, wonderful and trending material design corporate, corporate any other purposes websites.
Author: HasTech
Author URI: https://themeforest.net/user/hastech/portfolio
Version: 1.0

NOTE: This is color stylesheet of Color Scheme.

*/


/*************************
    General
*************************/


/** selection **/

*::-moz-selection {
    background: #1a237e;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #1a237e;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #1a237e;
    color: #fff;
    text-shadow: none;
}



/*=====================================*/





/*Theme Default BG Color with important*/
.bg-theme{
  background: #1a237e !important;
}


/*Theme Default BG Color (background)*/
.single-team:hover .team-name-deg, 
.team-social-net ul,
#back-top,
.section-title::before,
.tf-portfolio-hover-information::before,
.tf-blog-hover-information::before,
.style-customizer a.button.button-border {
  background: #1a237e;
}

/*Theme Default BG Color (background-color)*/
.tf-button::before, 
.single-skill .progress .progress-bar,
.tf-port-filter-nav li:hover, 
.tf-port-filter-nav li.is-checked,
div.style-customizer ul.layoutstyle li:hover {
  background-color: #1a237e;
}




/*Theme Default Color*/
.theme-color,
.sin-testiText.slick-slide p::after,
.testimonial-image-slider .slick-prev::before, 
.testimonial-image-slider .slick-next::before,
.test-info .social-icon li a:hover i,
.sin-testiText.slick-slide p::before, 
a:hover, 
a:focus, 
a:active,
.single-team:hover .team-social-net .social-icon li a,
.main-menu > li:hover > a,
div.style-customizer a.opener,
.service-inner i.icon::before,
.amz-icon .icon::before,
.contact-us .icon::before,
.style-customizer a.button:hover {
    color: #1a237e;
}
.theme-color{
  color: #1a237e !important;
}




/*Theme Default Border Color*/
.tf-button,
.tf-port-filter-nav li:hover, 
.tf-port-filter-nav li.is-checked,
.tf-single-blog:hover,
div.style-customizer ul.layoutstyle li:hover,
.style-customizer a.button.button-border:hover{
  border-color: #1a237e;
}








